{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form.vehicle_number|as_crispy_field}}
    
    <div class="row">
        <div class="col-md-4">
            {{form.vehicle_model|as_crispy_field}}
        </div>
        <div class="col-md-8">
            {{form.type|as_crispy_field}}
        </div>
    </div>
    {{form.vehicle_description|as_crispy_field}}
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-save"></i>
                Submit</button>
        </div>  
        <div class="col-md-4">
            <a href="{% url 'list' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
            </a>
        </div>
    </div>

</form>
{% endblock content %}